[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Noah Scott
	email = noah.scott.24@ucl.ac.uk
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	default = branch
[core]
	editor = nvim
    pager = delta
[pull]
	rebase = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictStyle = zdiff3
