[include]
    path = ~/.config/tokyonight/tokyonight_storm.gitconfig

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Noah Scott
	email = noah.scott.24@ucl.ac.uk
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	default = branch
	defaultBranch = main
[core]
    editor = NO_AUTOSESSION=1 nvim
    pager = delta
	excludesfile = /Users/nscott/.gitignore_global
[pull]
	rebase = true
[interactive]
    diffFilter = delta --color-only
[delta]
    features = tokyonight_storm
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
[merge]
    conflictStyle = zdiff3
[hub]
	protocol = ssh
