# /Applications/sioyek.app/Contents/MacOS

goto_beginning go
goto_left_smart _

previous_page h
next_page l

screen_down <C-d>
screen_up <C-u>

prev_state K
next_state J


open_prev_doc u
new_window s
close_window d

copy Y
toggle_fullscreen <C-f>

toggle_dark_mode <C-i>

keyboard_smart_jump F
keyboard_overview ?

goto_selected_text gz

reload <C-r>

next_item <down>
previous_item <up>
